.stats {
  width: 300px;
  margin: 30px auto;

  border: 2px solid rgb(204, 204, 204);
  border-radius: 10px;
  overflow: hidden;
}

.title {
  color: black;
  font-weight: bold;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}

.list {
  display: flex;
}

.item {
  width: 20%;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  border-top: 2px solid rgb(204, 204, 204);

  &:not(:last-child) {
    border-right: 2px solid rgb(204, 204, 204);
  }
  & span {
    display: block;
  }
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.percentage {
  font-weight: bold;
  font-size: 16px;
}
